---
---

@import "{{ site.theme }}", "highlight";

code {
  color: #186aa0;
  background-color: #ddf1ff;
  border-radius: 3px;
  padding: 1px 4px 2px;
  font-size: 12px;
  margin-right: 5px;
}

strong {
  color: #333;
  font-weight: bold;
  padding: 0 4px;
}

div.highlight {
  font-size: 12px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  background-color: #f8f8f8;
  position: relative;
}

pre.highlight {
  border: none;
  padding: 0;
  background-color: transparent;

  th, td {
    border: none;
    padding: 0;

    pre {
      border: none;
      padding: 30px 10px 10px;
      background-color: transparent;
      border-radius: 0;
    }
  }

  .rouge-table {
    margin-bottom: 0;

    .lineno {
      padding-right: 0;
      color: #d4d4d4;
    }
  }

  .rouge-gutter {
    width: 40px;
  }

  .rouge-table:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 3px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #888;
    background: #e2e2e2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: helvetica;
    content: "Code";
  }
}

.language-js .rouge-table:after,
.language-javascript .rouge-table:after {
  content: "JavaScript" !important;
}

.language-shell .rouge-table:after {
  content: "Shell" !important;
}

.language-bash .rouge-table:after {
  content: "Bash" !important;
}